.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__img img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.profile__content{
    margin-left: 20px;
}
.btn-custom{
    padding: 10px 25px;
    background-color: #0d0c22;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 10px;
}
.btn-custom.score{
    background-color: white;
    color: black;
    border: .5px solid;
}
::ng-deep .mat-mdc-tab-body-content {
    overflow: hidden !important;
}