<div>
    <div class="container">
        <div class="banner">
            <p class="banner__title">The #1 job board for graphic design jobs</p>
            <p class="banner__desc">Dribbble is the heart of the design community and the best resource to discover and connect with designers and jobs worldwide.</p>
            <div style="display: flex; justify-content: center;">
                <a class="banner__btn" routerLink="/about">About Us</a>
            </div>
        </div>
    </div>
</div>
