<div class="forget-password__wrap">
    <h1>Forget Password</h1>
    <div class="container">
        <mat-horizontal-stepper>
            <mat-step label="Nhập OTP">
                <!-- <mat-form-field>
                  <input matInput placeholder="OTP" type="text">
                </mat-form-field> -->
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            
            <mat-step label="Nhập OTP">
              <!-- <mat-form-field>
                <input matInput placeholder="OTP" type="text">
              </mat-form-field> -->
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
            
            <mat-step label="Nhập Mật khẩu mới">
              <!-- <mat-form-field>
                <input matInput placeholder="Mật khẩu mới" type="password">
              </mat-form-field> -->
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
          
    </div>
</div>
