<div class="container form__wrap">
    <div class="form-child" *ngIf="step === 1">
        <h1>Forgot Password ?</h1>
        <p>No worries, we'll send you reset passoword otp</p>
        <input type="email" placeholder="Enter your email">
        <div class="btn-custom" (click)="submitEmail()">Send OTP</div>
    </div>
    <div class="form-child" *ngIf="step === 2">
        <h1>Give Me OTP</h1>
        <p>Now you can open your mail to see otp</p>
        <input type="email" placeholder="Enter your otp">
        <div class="btn-custom" (click)="submitOTP()">Reset Password</div>
    </div>
    <div class="form-child" *ngIf="step === 3">
        <h1>Reset New Password </h1>
        <p>You can reset new passoword</p>
        <input type="email" placeholder="Enter your passoword">
        <div class="btn-custom" (click)="submitNewPassword()">Reset</div>
    </div>
</div>