
.forget-password__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-custom{
    padding: 5px 25px;
    background-color: #0d0c22;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}
.content-child{
    padding: 10px 30px;
    border: 1px solid grey;
    border-radius: 20px;
}