<div class="container">
    <!--Content product-->
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="product-img">
                <img src="https://media.paulsmith.com/dam/products/w_auto,c_scale/q_80/STILL/GRB/GRB-MERC-AXSING-92/GRB-MERC-AXSING-92-0_10.jpg" alt="product-image">
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <div class="product-content">
                <div class="sale">
                    <p>Sale</p>
                    <p style="font-weight: bold; margin: 0px 5px;">20</p>
                    <p>%</p>
                </div>
                <div class="product-title">
                    <h1 style="font-weight: bold;">Vo Thuan Loi</h1>
                </div>
                <div class="product-price">
                    <h3>$</h3>
                    <h3>2.000</h3>
                </div>
                <div class="product-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam commodi molestias laborum ad soluta vel, numquam autem, aut quia iusto eligendi, dolor reprehenderit odit harum corporis fugiat quaerat debitis nostrum.
                </div>
                <div class="product-btn">
                    <div class="btn-custom" (click)="handleAddToCart()">Add to cart</div>
                    <div class="product-quanlity">
                        <button (click)="decrease()">-</button>
                        <input type="number" [(ngModel)]="quantity" min="0">
                        <button (click)="increase()">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Desc product-->
    <div style="margin: 20px 0;">
        <mat-tab-group>
            <mat-tab label="Description"> 
                <div style="padding: 20px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab odit recusandae, quasi temporibus possimus dolores aut soluta quisquam asperiores iste veniam doloremque eveniet assumenda vel sunt, vitae sit fuga.</p>
                </div>    
            </mat-tab>
            <mat-tab label="Review"> Review </mat-tab>
          </mat-tab-group>
    </div>
    <!--Recomment product-->
    <div>
        <h1 style="font-weight: bold; text-align: center;">Similar Products</h1>
        <app-product-card 
                    [products]="productList">
        </app-product-card>
    </div>
</div>